.entrenadores {
    text-align: center;
    margin-top: 200px;
}

.entrenadores h2 {
    background-color: #ccc;
    padding: 1rem;
    padding-top: 70px;
    border-radius: 8px 8px 0 0;
}

.entrenadores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.entrenador {
    background-color: #ffffff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    width: calc(25% - 2rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.entrenador:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.entrenador-header {
    background-color: #333;
    padding: 0.5rem;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.entrenador-header button {
    background-color: #ff5e5e;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.875rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.entrenador-header button:hover {
    background-color: #e04545;
}

.entrenador img {
    display: block;
    margin: 1rem auto;
    height: 350px;
    width: 350px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.entrenador img:hover {
    transform: scale(1.1);
}

.entrenador p {
    background-color: #f8f8f8;
    padding: 0.5rem;
    border-radius: 0 0 8px 8px;
    margin-top: 0.5rem;
}

footer {
    margin-top: -700px;
}

.imagen {
    transition: transform 0.3s ease;
}

.imagen:hover {
    transform: scale(2);
}

@media (max-width: 768px) {
    .entrenadores-container {
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
    }

    .entrenador {
        width: calc(100% - 2rem);
    }

    .entrenadores {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 400px;

        margin-top: 2440px;
    }

    .entrenador img {
        width: 300px;
        height: 300px;
        height: auto;
    }

    .entrenadores h2 {
        background-color: #ccc;
        border-radius: 8px 8px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    main {
        padding-bottom: 2300px;
    }
}